/*@keyframe playX {
  from { background-position-x: 0px;}
  to {background-position-x: 300px;}
}*/
body{
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.image{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  height: 120px;
  background-image: url(zelda.png);
  background-position: 0 -12px;

}
.sleepyf:checked ~ .image{
  animation: play 1s steps(3) infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  animation-name: play1;
}
@keyframes play1 {
   from { background-position:    0px -12px; }
   to { background-position: -360px -12px; }

}
.sleepyl:checked ~ div.image{
  animation: play 1s steps(3) infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  animation-name: play2;
}
@keyframes play2 {
   from { background-position:    0px -140px; }
   to { background-position: -360px -140px; }
}
.hit:checked ~ div.image{
  animation: play 3s steps(3) infinite;
  animation-direction: alternate;
  transition-timing-function: cubic-bezier(2.7, 0.1, 0.1, 0.1);
  animation-name: play8;
}
@keyframes play8 {
   from { background-position:    0px -400px; }
   to { background-position: -360px -400px; }
}
.walkf:checked ~ div.image{
  animation: play 2s steps(10) infinite;
  animation-name: play3;
}
@keyframes play3 {
   from { background-position: 0px -525px; }
   to { background-position: -1200px -525px; }
}
.walkl:checked ~ div.image{
  animation: play 2s steps(10) infinite;
  animation-name: play4;
}
@keyframes play4 {
   from { background-position: -1200px -652px; }
   to { background-position: 0px -652px; }
}
.walkb:checked ~ div.image{
  animation: play 2s steps(10) infinite;
  animation-name: play5;
}
@keyframes play5 {
   from { background-position: 0px -780px; }
   to { background-position: -1200px -780px; }
}
.walkr:checked ~ div.image{
  animation: play 2s steps(10) infinite;
  animation-name: play6;
}
@keyframes play6 {
   from { background-position: 0px -920px; }
   to { background-position: -1200px -920px; }
}
.run:checked ~ div.image{
  animation: play 1s steps(10) infinite;
  animation-name: play7;
}
@keyframes play7 {
   from { background-position: 0px -916px; }
   to { background-position: -1200px -916px; }
}
/*   116x140    */
/*   348x140    */
